.gradient {
    background: linear-gradient(90deg, #0a5060 0%, #034150 100%)
}

.navbar-light {
    animation-name: navbar-transition;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.navbar-dark {
    animation-name: navbar-transition2;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.reveal {
    animation-name: reveal;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.pixel-art {
    image-rendering: pixelated;
}

@keyframes navbar-transition {
    from {
        background: #0F172A;
    }

    to {
        background: linear-gradient(90deg, #0a5060, #034150);
    }
}

@keyframes navbar-transition2 {
    from {
        background: linear-gradient(90deg, #0a5060, #034150);
    }

    to {
        background: #0F172A;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}