---
import { Icon } from 'astro-icon/components';
---

<section class="bg-cyan-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> Note:</span
    > ShardMC is not production ready yet! It's better to wait for the v1.0, before using it in real case!
  </div>
</section>
