---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { getPermalink } from '~/utils/permalinks.ts';

const metadata = {
  title: 'ShardMC — Your Minecraft Server Core',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Downloads',
        href: getPermalink('/get'),
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'Hero Image' }}
  >
    <Fragment slot="title">
      ShardMC - Your <br />
      <span class="text-accent dark:text-white highlight">Minecraft</span> Server Core
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">ShardMC</span> is an open-source Minecraft Server Core Software, designed to be customizeable
        and very fast!</span
      >
      <span class="block mb-1 sm:hidden font-bold text-cyan-600">ShardMC: Customizeable, Fast.</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with ShardMC"
    subtitle="ShardMC has a lot of cool features designed for players by players!"
    items={[
      [
        {
          title: 'Customizeable',
          description:
            'Modules allow you to customize the server like you want! Like plugins, but better... and the best part is: modules can add support for your favourite Mod Loaders!',
          icon: 'tabler:adjustments-horizontal',
        },
        {
          title: 'Fast',
          description:
            'ShardMC is designed with speed in mind! We optimized the heavy calculations and some other stuff!',
          icon: 'tabler:bolt',
        },
      ],
      [
        {
          title: 'Open to new ideas',
          description:
            "We are open to communitiy's ideas! If you know how to make this project better: contact us on Discord!",
          icon: 'tabler:bulb',
        },
        {
          title: 'Open Source',
          description: 'ShardMC is open-source! Contributions are welcome!',
          icon: 'tabler:brand-github',
        },
      ],
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="ShardMC Roadmap"
    items={[
      {
        title: 'Echo v0.1R',
        description:
          'First stable release of Echo - bytecode manipulation library for ShardMC, that allows to create modules and modify server\'s code!',
        icon: 'tabler:package',
      },
      {
        title: 'Amethyst v0.1R',
        description: 
          'With the first release of Amethyst, it would be possible to launch the core and attach modules!',
        icon: 'tabler:diamond',
      },
      {
        title: 'Core v0.1R',
        description: 
          'The core of ShardMC.',
        icon: 'tabler:aperture',
      },
      {
        title: 'ShardMC v0.1R',
        icon: 'tabler:hourglass',
      },
    ]}
    image={{
      src: '~/assets/images/warden-thinking.webp',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!--<Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-cyan-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Blog"
    information={`We post various content on our blog: from development experience to announcements!
      Every time we release a post, it will automatically post it on the Discord server as well!
      You can also find some tutorials and tips there :)
    `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle=""
    highlight="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'When can I try it out?',
        description: "Check our roadmap and blog for current progress! Currently, the answer is: when it's done.",
      },
      {
        title: 'How can I follow for updates?',
        description: `You can check out our <a href="https://discord.gg/CqVAzakrqx" class="text-accent">Discord</a>, <a href="/blog" class="text-accent">Blog</a> and even <a href="/rss.xml" class="text-accent">RSS</a>!`,
      },
      {
        title: 'I have an idea! Where can I share it?',
        description: `You can find everything you need in <span class="text-accent">#❗┆read-me</span> channel in our Discord server!`,
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!--<Stats
    items={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />-->

  <!-- CallToAction Widget *********** -->

  <!--<CallToAction
    callToAction={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>-->
</Layout>
