---
import { SITE } from '~/utils/config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <span class="w-5 h-5 md:w-6 md:h-6 bg-cover mr-1.5 float-left rounded-sm bg-[url(/favicon.png)]"></span>
  {SITE?.name}
</span>